@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Mont-Heavy";
  src: url(./assets/fonts/Mont-Heavy.otf);
}
@font-face {
  font-family: "Mont-Light";
  src: url(./assets/fonts/Mont-Light.otf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Outfit", sans-serif;
  @apply outline-none;
}

body {
  @apply bg-dark-400 text-white;
}

::selection {
  @apply bg-white text-primary;
}

::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-300 dark:bg-neutral-500 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-400;
}

img {
  @apply select-none pointer-events-none;
}
